
/* =======All============= */
* {
  font-family: 'Comic Neue', cursive;
  margin: 0;
  padding: 0;
}

/* ========HEADER========= */
.falcon {
  width: 150px;
  height: 180px;
  float: right;
  animation-name: fal;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;

}
/* .thor {
  width: 150px;
  height: 180px;
  float: right;
  margin-right: 350px;
  animation-name: thor;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
} */


header {
  background-image: url(pngegg.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25rem;
  background-position: center;
}
h3 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: -16px;
}


h2 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 20px;
}
footer {
  text-align: center;
}
a {
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  padding: 5px 20px 5px 20px;


}

/*========= Background Image======== */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://res.cloudinary.com/jerrick/image/upload/fl_progressive,q_auto,w_1024/tiprwmhcywj03dkbpraf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50rem;
  background-color: #FFFFFF;
}

/*========= Heros======== */
.avengContainer {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
}
button {
  margin: 15px;
  border: none;
  background: none;
  border-radius: 10px;

}
button img {
  border-radius: 10px;
  width: 200px;
  height: 250px;
}
button img:hover {
  transform: scale(1.25);
  transition-duration: .5s;
}

.img-hover-zoom {
  border-radius: 10px;
  overflow: hidden;

}


/*==============Hero stats================= */
/* =============Hero Name====== */



.name {
  font-size: 60px;
  color: white;
  margin: 10x;
  position: relative;
  animation-name: name;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

#cardName {
  font-size: 30px;
  color: white
}

/* ==================MODAL===================== */
/* ===========Title of stats======== */
.description {
  font-size: 20px;
  position: relative;
  animation-name: stats;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.stats {
  display: none;
}

p {
  color: white;
  position: relative;
  animation-name: p;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

/* ==========Modal Background / positioning============= */
#modal {
  position: fixed;
  z-index: 1;
  /* Sit on top */
  padding-top: 60px;
  text-align: center;
  margin: 0 auto;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 600px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 8px 17px 14px 2px #2F2E2D;
  animation-name: modalTransition;
  animation-duration: .7s;
  animation-timing-function: ease-in;
}

/*=======Animation========== */
@keyframes modalTransition {
  0% {
    width: 5%;
    height: 5%;
    background: #000000;
    background: -moz-linear-gradient(-45deg, #000000 0%, #FFFFFF 10%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #FFFFFF 10%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #FFFFFF 10%, #000000 100%);
  }

  10% {
    width: 20%;
    height: 10%;
    background: #000000;
    background: -moz-linear-gradient(-45deg, #000000 0%, #FFFFFF 20%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #FFFFFF 20%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #FFFFFF 20%, #000000 100%);
  }

  25% {
    width: 30%;
    height: 20%;
    background: #000000;
    background: -moz-linear-gradient(-45deg, #000000 0%, #FFFFFF 35%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #FFFFFF 35%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #FFFFFF 35%, #000000 100%);
  }

  40% {
    width: 50%;
    height: 30%;
    background: #000000;
    background: -moz-linear-gradient(-45deg, #000000 0%, #FFFFFF 50%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #FFFFFF 50%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #FFFFFF 50%, #000000 100%);
  }

  60% {
    width: 70%;
    height: 45%;
    background: #000000;
    background: -moz-linear-gradient(-45deg, #000000 0%, #FFFFFF 65%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #FFFFFF 65%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #FFFFFF 65%, #000000 100%);
  }

  80% {
    width: 80%;
    height: 55%;
    background: #000000;
    background: -moz-linear-gradient(-45deg, #000000 0%, #FFFFFF 80%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #FFFFFF 80%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #FFFFFF 80%, #000000 100%);
  }

  100% {
    width: 90%;
    height: 60%;
    background: #000000;
    background: -moz-linear-gradient(-45deg, #000000 0%, #FFFFFF 100%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #FFFFFF 100%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #FFFFFF 100%, #000000 100%);
  }
}

@keyframes name {
  0% {
    top: -600px
  }

  100% {
    top: 0px
  }
}

@keyframes stats {
  0% {
    bottom: -1000px
  }

  100% {
    bottom: 0px
  }
}

@keyframes p {
  0% {
    left: -1000px
  }

  100% {
    left: 0px
  }
}
@keyframes fal {
  0% {
    float: right;
    transform:translate(500px);


  }

  100% {
    transform:translate(-3000px);


  }
}
@keyframes thor {
  0% {

    transform:translateY(-500px);

  }

  100% {
    transform:translateY(140px);


  }
}

/*=======================Media query=======================*/
/* ========================================================= */
@media only screen and (max-width: 900px) {

  header {
    height: 30rem;
  }
  h2 {
    font-size: 40px;
    margin-top: -80px;
  }

  a {
    font-size: 16px;
  }

  /*========= Heros======== */

  button {
    margin: 20px;
    border: none;
    background: none;
    border-radius: 10px;

  }
  button img {
    border-radius: 10px;
    width: 300px;
    height: 300px;
  }


  /* ==================MODAL===================== */
  /* ===========Title of stats======== */
  .description {
    font-size: 25px;
  }
  p {
    padding: 3px;
  }

  /* ==========Modal Background / positioning============= */
  #modal {
    position: fixed;
    z-index: 1;
    /* Sit on top */
    padding-top: 50px;
    margin-top: 10 auto;
    width: 80%;
    height: 750px;
    top: 12%;

  }
}
